#cateback{
    padding-top:20px ;
    padding-left: 2.5vw;
    background-color: whitesmoke;
    width: 100vw;
    height: 95vh;
    margin-top:0;
    display: flex;
    flex-direction: row;
}
#catecard{
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
   padding-left: 2.5%;
   padding-right: 2.5%;
  height: fit-content;
   padding-bottom: 25px;
   padding-top: 1px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#tpicker{
  width: 200px;
  margin-right: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
   padding-left: 15px;
  height: fit-content;
   padding-bottom: 15px;
   padding-top: 1px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#newcate{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    height: 40px;
    margin-right: 20px;
    margin-top: 15px;
  }
  #catehead{
    width: 1px;
  }

  #catetop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #orderdiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  #orderdate{
    position: relative;
    left: 55px;
  }

  #orderview{
    color: #1966ae;
    text-decoration-line: underline;
    cursor: pointer;
  }
