#orderbg{
    background-color: whitesmoke;
    width: 100vw;
    height: 95vh;
    margin-top:0;
}
#orderscard{
    width: 65vw;
    background-color: white;
    margin: auto;
    height: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (width <= 1440px) {
  #orderscard{
    width: 85vw;
    background-color: white;
    margin: auto;
    height: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
}
#neworder{
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 10px;
  margin-left: 74.5vw;
  margin-bottom: 10px;
}

#neworder:hover,
#neworder:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#neworder:hover {
  transform: translateY(-1px);
}

#neworder:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#ordercard{
    display: flex;
    flex-direction: row;
}
#oclabel{
    background-color: lightgray;
    width: 95%;
    margin: auto;
    position: relative;
    bottom: -10px;
    border-radius: 5px;
    height: 45px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}
#ocll{
    margin-left: 11.5%;
    position: relative;
    top: -10px;
    font-weight: normal;
}

#ocol{
  
    margin-bottom: -10px;
    font-weight: normal;
}

.ocinfo{
    margin-left: 13.5%;
    
}

.ocinfo2{
    margin-left: 4.75%;
    
}

#ocolp{
    margin-bottom: -10px;
    font-weight: 600;
color: #ffcc00;
background-color: #fff0b3 ;
width: 100px;
text-align: center;
height: 30px;
padding-top: 10px;
border-radius: 10px;
}

.ocinfo3{
    margin-left: 8%;
    text-align: center;
}

.ocinfo4{
    margin-left: 13%;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding-top:18px ;

}

#modifybutton{
    
    margin-bottom: 20px;
    font-weight: normal;
}


#modifybutton {
 
  padding: 12px 30px;
  text-align: center;
  background: linear-gradient(90deg, rgba(30,106,255,1) 21%, rgba(25,102,174,1) 74%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 400;
 border-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
 border-style: solid;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#modifybutton:hover {
  background-position: right center;
  /* change the direction of the change here */
  
  text-decoration: none;
}

#modifybutton:active {
  transform: scale(0.95);
}

#modifybutton1{
    
    margin-bottom: 20px;
    font-weight: normal;
}


#modifybutton1 {
 
  padding: 12px 30px;
  text-align: center;
  border-style: solid;
  border-color: darkred;
  transition: 0.5s;
  background-size: 200% auto;
  color: darkred;
  border-radius: 10px;
  display: block;
  border-width: 1.3px;
  font-weight: 400;

  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#modifybutton1:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  background-color: darkred;
}

#modifybutton1:active {
  transform: scale(0.95);
}

#cardbreak{
    
    border-style: solid;
    background-color: #000000;
    width: 200px;
    align-self: center;
}

#ordercardbig{
    display: flex;
    flex-direction: column;
}

.popup-content{
  width: 400px;
  max-height: 100vh;
  border-radius: 10px;
  border-style: solid;
  padding-left: ;
}

#header{
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 50px;
  margin-left: 100px;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#orderforms{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;
}

#studentdate{
  border-style: hidden;
  border-bottom-style: solid;
  width: 95%;
  margin-bottom: 25px;
}
#studentdate:hover{
  outline-width: 0;
  border-bottom-color: #1966ae;
  cursor: pointer;
}
#studentdate:focus{
  outline-width: 0;
  border-bottom-color: #1966ae;
}

#studentnote{
  width: 95%;
  border-style: hidden;
  border-bottom-style: solid;
  height: 8vh;
  border-bottom-width: 2px;
  margin-top: 50px;
  border-bottom-width: 2px;
  margin-bottom: 20px;
}

#studentnote:hover{
  outline-width: 0;
  border-bottom-color: #1966ae;
  cursor: pointer;
}
#studentnote:focus{
  outline-width: 0;
  border-bottom-color: #1966ae;
}

#formbuttons{
  margin-right:10px;
  flex-direction: row;
  display: flex;
  justify-content: space-around
  ;
}

